
@{
    <h2>Mostrar Cliente con Mayor y Menor Consumo de Energía</h2>

    <div>
        <h3>Información del Cliente con Mayor Consumo:</h3>
        <p>Nombre: @ViewBag.ClienteMayorConsumo.Nombre</p>
        <p>Apellido: @ViewBag.ClienteMayorConsumo.Apellido</p>
        <p>Cédula: @ViewBag.ClienteMayorConsumo.Cedula</p>
    </div>

    <div>
        <h3>Información del Cliente con Menor Consumo:</h3>
        <p>Nombre: @ViewBag.ClienteMenorConsumo.Nombre</p>
        <p>Apellido: @ViewBag.ClienteMenorConsumo.Apellido</p>
        <p>Cédula: @ViewBag.ClienteMenorConsumo.Cedula</p>
    </div>

